NEXTAUTH_URL=https://localtest.diamond.ac.uk/nextauth
NEXTAUTH_SECRET=fis38rp4mSL+mE9i4Pe1GeNYOXQsxj2AsVfjwC9NSLY=
OAUTH_COOKIE_NAME=sh_auth
OAUTH_CLIENT_ID=client_id
OAUTH_CLIENT_SECRET=client_secret
OAUTH_DISCOVERY_ENDPOINT=https://localtest.diamond.ac.uk/cas/oidc/.well-known/openid-configuration
OAUTH_PROFILE_INFO_ENDPOINT=https://localtest.diamond.ac.uk/auth/user
SERVER_API_URL=https://localtest.diamond.ac.uk/api
PATO_URL=https://ebic-pato-staging.diamond.ac.uk
SYNCHWEB_URL=https://ispyb-test.diamond.ac.uk

NEXT_PUBLIC_API_URL=https://localtest.diamond.ac.uk/api
NEXT_PUBLIC_DEV_CONTACT=foo@bar.com